.grid3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.video iframe {
    width: 130%;
    height: 750px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar div {
    width: 35%;
    align-self: self-end;
    text-align: center;
}

.sidebar img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar p {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #333;
}